/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
/*
a { color: #999; }
a:focus,input:focus,textarea:focus { outline: 0 solid }
a:hover { text-decoration: none; }
*/
/*img { max-width: 100%; height: auto; }*/
/*
h1, h2, h3, h4, h5, h6 { margin: 0 0 15px; font-weight: 700; }
*/

.title-area h3 { margin: 0 0 15px; font-weight: 700; }
.title-area h5 { margin: 0 0 15px; font-weight: 700; }

.section-padding {
  padding:  0px 0;
}

.single-news-items {
  position: relative;
  height: 650px;
  overflow: hidden;
  /* box-shadow: 0 0 20px #999; */
  background-color: #efefef;
}

.news-img {
  height: 245px;
  background-size: cover;
  background-position: center;
  transition: .3s;
}
.news-bg-1 {
  background-image: url("https://www.icountry.com.tw/starcity/libs/bbapp/dynamic_screen_image_loader/css/img/pink_carriage/pink_carriage_1_1920.jpg");
}
.news-date {
  opacity:0.88;
  position: absolute;
  left: 5%;
  top: 4%;
  height: 65px;
  width: 65px;
  content: "";
  background: #5bc0de;
  border-radius: 50%;
  text-align: center;
  line-height: 1.3rem;
  color: #fff;
  font-weight: 700;
  padding: 11px;
  text-transform: uppercase;
  font-size: 18px;
}

.news-date span {
  font-size: 12px;
}

.news-content {
  background: #fff;
  border: 1px solid #E7E7E7;
  border-top: none;
  padding: 15px 10px;
  color: #757575;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 415px;
  transition: .2s;
  
}

.product_table::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #ffffff;
}

.product_table::-webkit-scrollbar
{
	width: 4px;
	height: 4px;
	background-color: #fffdfd;
}

.product_table::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #d8cfcf;
}

.title-area {
  overflow-y: auto;
  height: 300px;
}

.title-area::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #ffffff;
}

.title-area::-webkit-scrollbar
{
	width: 4px;
	background-color: #9a9a9a;
}

.title-area::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #d8cbcb;
}

.basket_coupon_list_selection {
  overflow-y: auto;
  height: 300px;
}

.basket_coupon_list_selection::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #ffffff;
}

.basket_coupon_list_selection::-webkit-scrollbar
{
	width: 4px;
	background-color: #9a9a9a;
}

.basket_coupon_list_selection::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #d8cbcb;
}


.news-cat {
  position: absolute;
  top: -230px;
  left: 20px;
  background-color: #5bc0de;
  color: #fff;
  width: 50px;
  padding: 5px 10px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.news-price {
  opacity:0.88;
  position: absolute;
  height: 50px;
  top: -50px;
  right: -1px;
  background-color: #5bc0de;
  color: #fff;
  width: 100px;
  padding: 6px 6px;
  text-align: right;
  font-weight: 700;
  text-transform: uppercase;
}

.title-area h3 {
  color: #333333;
  font-size: 21px;
  margin-bottom: 12px;
}
.title-area h4 {
  color: #5bc0de;
  font-weight: 400;
  font-size: 19px;
}

.news-meta {
  text-align:center;
  background: #fff;
  font-size: 13px;
  color: #999A9F;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 10px 10px;
  border: 1px solid #E7E7E7;
  border-top: 0px solid #fff; 
}
.news-meta span:nth-child(1) {
  margin-right: 15px;
}

.news-text {
  line-height: 2.5rem;
  font-size: 13px;
  /* opacity: 0; */
  /* visibility: hidden; */
  height: 350px;
  transition: .3s;
  z-index: 2;
}


.single-news-items:hover {
  box-shadow: 0 0 20px #999;
}
/*
.single-news-items:hover .news-img {
  transform: scale(1.15);
}
*/
/*
.single-news-items:hover .news-content {
  height: 350px;
}*/
.single-news-items:hover .news-text {
  opacity: 1;
  visibility: visible;
}